:root {
	--base: #902626;
	--border: #902626;
	--bg: #e8e8e8;
	--highlight: #ba2828;
	--config-colour: #666;
	--underscore: black;
	--box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, .4);
	--edit: #191813;
	--alert: #c53131;
	--text: #902626;
	--header: #ba2828;
}
